.woocommerce-form-track-order{
	width: 100%;
	max-width: 752px;
	margin-right: auto;
	margin-left: auto;

	p {
		text-align: center;
		@include font-size(1);
		font-weight: 400;
		margin: 0 0 30px;
	}

	.form-row{
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 30px;

		label{
			margin-bottom: 8px;
			@include font-size(14/16);
			font-weight: 500;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}