$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: #000000; //royalblue
$color__link-visited: #000000; //purple
$color__link-hover: #DB1215; //midnightblue

$color__dark: #000000;
$color__gray: #545454;
$color__grayer: #d9d9d9;
$color__light: #fff;

$color__border-input: #EBEBEB;
$color__border-abbr: #EBEBEB;
$color__border-main: #EBEBEB;