.ecomus-svg-icon {
	display: inline-block;
	line-height: 1;

	svg {
		vertical-align: -.125em;
		width: 1em;
		height: 1em;
		fill: currentColor;
		display: inline-block;
	}
}

.icon-fill-none {
	svg {
		fill: none;
	}
}