table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
}

th,
td {
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid $color__border-main;
}

th {
	text-align: left;

	a {
		text-decoration: none;
	}
}

.wp-block-table {
	td,
	th {
		border: none;
		padding: 10px 0;
		border-bottom: 1px solid $color__border-main;
	}
}