@mixin em-loading() {
	--em-animation-state: running;

	position: relative;
	color: transparent;

	&::before {
		display: inline-block;
		content: "";
		width: 18px;
		height: 18px;
		border-radius: 100%;
		border: solid 2px var(--em-loading-color);
		border-top-color: transparent;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		animation: spin .6s linear infinite var(--em-animation-state);
	}
}