.ecomus-contact-form {
	.wpcf7-form {
		.wpcf7-form-control-wrap {
			display: block;
			margin-bottom: 15px;
		}

		p {
			margin: 0;
		}

		input,
		select {
			width: 100%;
		}

		input[type="checkbox"] {
			&:before {
				top: 0;
			}

			&:after {
				top: 4px;
			}
		}

		input[type="radio"] {
			&:before {
				top: 0;
				left: -3px;
			}

			&:after {
				top: 2px;
				left: -1px;
			}
		}

		.wpcf7-checkbox,
		.wpcf7-radio {
			.wpcf7-list-item {
				margin: 0 1.5em 0 0;
			}
		}

		.wpcf7-acceptance {
			.wpcf7-list-item {
				label {
					display: inline-flex;
				}
			}
		}

		.wpcf7-list-item {
			display: inline-flex;
			margin: 0 1em 0 0;
		}

		.wpcf7-list-item-label {
			flex: 1 0 auto;
		}

		.wpcf7-submit {
			font-weight: 600;
		}

		.wpcf7-spinner {
			display: block;
			margin: 20px auto 0;
		}

		.em-row {
			margin-left: -7.5px;
			margin-right: -7.5px;
		}

		.em-col {
			padding-left: 7.5px;
			padding-right: 7.5px;
		}
	}
}