.e-con-inner {
	--em-container-spacing: 50px;
}

@import "column";
@import "subscribe-box";
@import "social-icons";
@import "brands";
@import "contact-form";
@import "icon-box";
@import "timeline";
@import "store-locations";
@import "testimonial-carousel";
@import "product-carousel";
@import "product-grid";
@import "instagram";
@import "accordion";
@import "slides";
@import "navigation-bar";
@import "marquee";
@import "image-box-carousel";
@import "categories-grid";
@import "images-hotspot-carousel";
@import "testimonial-carousel-2";
@import "image-carousel";
@import "image-box-grid";
@import "banner";
@import "dual-image";
@import "countdown";
@import "button-carousel";
@import "stores-tab";
@import "image-content-slider";
@import "categories-carousel";
@import "product-tabs-grid";
@import "image-info";
@import "lookbook-products";
@import "product-category-tabs";
@import "flash-sale";
@import "image-hotspot";
@import "featured-product";
@import "testimonial-carousel-3";
@import "product-tabs-carousel";
@import "hero-images";
@import "product-list";
@import "code-discount";
@import "posts-carousel";
@import "navigation-menu";
@import "numbered-list";
@import "video-banner";
@import "video-popup";
@import "image-before-after";
@import "wc-cart";
@import "wc-cart-cross-sells";
@import "wc-checkout";
@import "product-sidebar";
@import "testimonial-carousel-4";
@import "shoppable-video";
@import "product-price-tables-carousel";
@import "responsive/responsive";

.elementor {
	.e-con {
		--content-width: min(100%, var(--container-max-width, 1440px));
		--padding-top: var(--container-default-padding-top, 0);
		--padding-right: var(--container-default-padding-right, 0);
		--padding-bottom: var(--container-default-padding-bottom, 0);
		--padding-left: var(--container-default-padding-left, 0);

		> .e-con-inner {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.e-parent {
		& > .e-con-inner {
			--inner-padding-inline-start: var(--em-container-spacing);
			--inner-padding-inline-end:  var(--em-container-spacing);
			padding-inline-start: var(--inner-padding-inline-start);
			padding-inline-end: var(--inner-padding-inline-end);
			max-width: calc( var(--content-width) + var(--em-container-spacing) * 2 );
		}
	}

	.elementor-widget-text-editor {
		.elementor-widget-container > * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}

	.em-ratio {
		img {
			max-width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text,
	.elementor-widget-icon-list .elementor-icon-list-item > a,
	.elementor-widget-heading .elementor-heading-title,
	.elementor-widget-text-editor {
		font-family: inherit;
	}

	.elementor-widget-image {
		text-align: left;
	}

	.e-con-inner > .elementor-widget-video,
	.e-con > .elementor-widget-video,
	.elementor-widget-video .elementor-wrapper {
		height: var(--min-height);
		width: 100%;
	}

	.wcboost-variation-swatches--image img {
		border-radius: inherit;
		height: 100%;
	}
}

.ecomus-heading {
	margin: 0;
}

.ecomus-heading__icon {
	line-height: 1;
}

.ecomus-toggle-mobile__title--toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;

	+ .ecomus-toggle-mobile__content {
		display: none;
		padding-bottom: 10px;
	}

	&.active {
		.em-collapse-icon {
			&:before,
			&:after {
				-webkit-transform: translateY(-50%) rotate(0);
				transform: translateY(-50%) rotate(0);
			}
		}
	}

	.em-collapse-icon {
		position: relative;
		width: 12px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			display: inline-block;
			margin-top: -1px;
			width: 12px;
			height: 1px;
			background-color: currentColor;
			transition: background-color .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out, -webkit-transform .2s ease-in-out;
		}

		&:after {
			-webkit-transform: translateY(-50%) rotate(-90deg);
			transform: translateY(-50%) rotate(-90deg);
		}
	}
}

.em-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	align-self: flex-start;
}

.ecomus-single-product-builder--empty {
    margin: 100px auto;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.ecomus-single-product-builder--empty h4 {
    margin-bottom: 20px;
	margin-top: 0;
}

.ecomus-single-product-builder--empty a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media (max-width: 768px) {
    .ecomus-single-product-builder--empty h4 {
        font-size: 28px;
    }
}

@media (min-width: 1025px) {
	.em-responsive-image__tablet,
	.em-responsive-image__mobile {
		display: none;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.em-responsive-image__desktop {
		&.hidden-tablet {
			display: none;
		}
	}

	.em-responsive-image__mobile {
		display: none;
	}
}

@media (max-width: 767px) {
	.em-responsive-image__desktop {
		&.hidden-mobile {
			display: none;
		}
	}

	.em-responsive-image__tablet {
		&.hidden-mobile {
			display: none;
		}
	}
}