.ecomus-image-box-carousel__heading {
    gap: 15px;
    margin-bottom: 33px;

    .heading {
        @include font-size(1);
        color: var(--em-color__dark);
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    .swiper-arrows {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    .swiper-button {
        position: static;
        display: inline-flex;
        width: 30px;
        height: 30px;
        transform: none;
        opacity: 1;

        &.elementor-swiper-button-prev,
        &.elementor-swiper-button-next {
            margin: 0;
        }
    }

    .swiper-pagination {
        position: static;
        margin: 0;
        width: auto;
    }

    &.ecomus-image-box-carousel__heading--dots {
        justify-content: space-between;
    }
}

.ecomus-image-box-carousel__item-side {
    align-items: flex-end;
    border-radius: var(--em-image-rounded);
    overflow: hidden;

    .ecomus-image-box-carousel__summary {
        top: 24px;
        left: 15px;
        right: 15px;
    }

    .ecomus-image-box-carousel__title {
        margin: 0;
    }
}

.ecomus-image-box-carousel__image-bg {
    display: inline-block;
    width: 100%;
    border-radius: var(--em-image-rounded);
}

.ecomus-image-box-carousel__image {
    img {
        transition: transform 2s cubic-bezier(0,0,.44,1.18);
    }
}

.ecomus-image-box-button--all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.ecomus-image-box-carousel__content {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 0 15px;

    .ecomus-image-box-carousel__summary,
    .ecomus-image-box-carousel__button {
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .ecomus-image-box-carousel__button {
        align-self: flex-start;
        margin-left: 0;
    }
}

.ecomus-image-box-carousel__button {
    --em-button-padding-top: 16px;
    --em-button-padding-right: 30px;
    --em-button-padding-bottom: 15px;
    --em-button-padding-left: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &.em-button-subtle,
    &.em-button-text {
        --em-button-padding-left: 0;
        --em-button-padding-right: 0;
        --em-button-padding-top: 0;
        --em-button-padding-bottom: 3px;
    }
}

.ecomus-image-box-carousel__button-alway {
    width: auto;
}

.ecomus-image-box-carousel__item-below {
    flex-direction: column;
    align-items: flex-start;

    .ecomus-image-box-carousel__summary {
        position: relative;
    }

    .ecomus-image-box-carousel__image-bg {
        z-index: 1;
    }

    .ecomus-image-box-carousel__button {
        position: relative;
        margin: 22px 0 0 0;
    }
}

.ecomus-image-box-carousel__title {
    margin-top: 30px;
    margin-bottom: 0;
    @include font-size(28/16);
    line-height: 33.6px;

    a {
        color: inherit
    }
}

.ecomus-image-box-carousel__before-title {
    @include font-size(14/16);
    margin-top: 30px;
    margin-bottom: 0;

    + .ecomus-image-box-carousel__title {
        margin-top: 10px;
    }
}

.ecomus-image-box-carousel__description {
    margin-bottom: 18px;
}

.ecomus-image-box-carousel__sale-text {
    @include font-size(10/16);
    top: 0;
    left: 0;
    background-color: var(--em-color__dark);
    color: var(--em-color__light);
    padding: 0 5px;
    line-height: 19px;
    height: auto;
    display: inline-flex;
    border-radius: var(--em-rounded-full);
}

.ecomus-image-box-carousel__type--icon {
    display: block;
    width: 100%;

    .ecomus-image-box-carousel__link {
        @include font-size(10/16);
        border-radius: 100%;
        margin: 0 auto;
        overflow: hidden;

        .ecomus-svg-icon {
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            display: grid;
            place-content: center;

            /*rtl:raw:
                transform: rotateY(180deg);
            */
        }

        &:hover {
            border-color: #DB1215;
        }
    }
}

.ecomus-image-box-carousel .swiper:not(.swiper-initialized) .ecomus-image-box-carousel__image img {
    position: static;
}