@media (max-width: 480px) {
	.ecomus-mobile-navigation-bar {
		padding-left: 5px;
		padding-right: 5px;
	}

	.ecomus-mobile-navigation-bar__item {
		min-width: 20%;
	}
}

@media (max-width: 450px) {
	.topbar-custom-text {
		line-height: var(--em-line-height__body);
	}
}