@media (max-width: 991px) and ( min-width: 768px) {
	.error-404__title {
		@include font-size(40/16);
	}
}

@media (max-width: 991px){
	// Page Header
	.page-header__title {
		@include font-size(32/16);
	}

	.page-header__description {
		@include font-size(14/16);
	}

	// Blog Page
	.em-post-list {
		.post-thumbnail {
			min-width: 300px;
			margin-right: 30px;
		}
	}
}

@media (max-width: 782px){
	.ecomus-header-sticky.admin-bar .site-header.minimized {
		top: 46px;
	}
}